@import './variables.scss';

.ballot,
.results {
  padding: 10px;
  background: $blue-light;
  border: 1px solid $blue-dark;
  margin-top: -1px;
}

.ballot {
  .options {
    margin-top: 10px;
  }

  .option {
    display: flex;
    margin: 8px 0;
    background: white;
    padding: 4px 6px;
    cursor: pointer;
  }
}

.results {
  .results-entry {
    background: white;
    padding: 4px 6px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &[data-correct="true"] {
      background: $blue-dark;
      color: white;
    }

    .info {
      display: flex;
      align-items: center;
      margin-top: 3px;
    }

    .byline {
      font-size: 3rem;
    }

    .votes {
      margin-left: 5px;
    }
  }
}

