@import './variables.scss';

.ballot,
.results {
  padding: 10px;
  border: 1px solid $blue-dark;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 0px 0px $blue-dark;
}

.ballot {
  .options {
    margin-top: 10px;
  }

  .option {
    display: flex;
    margin: 8px 0;
    padding: 4px 6px;
    cursor: pointer;

    .text {
      background: $yellow;
    }
  }
}

.results {
  .results-entry {
    background: white;
    padding: 4px 6px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &[data-correct="true"] {
      .text {
        background: $yellow;
      }
    }

    .info {
      display: flex;
      align-items: center;
      margin-top: 3px;
    }

    .byline {
      font-size: 3rem;
    }

    .votes {
      margin-left: 5px;
    }
  }
}

