@import './fonts.scss';
@import './variables.scss';

html {
  font-size: 4px;
}

body {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  padding: 0;
  margin: 0;
  border: 10px solid $blue-dark;
  overflow: hidden;
  letter-spacing: -0.02ch;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 3.6rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

label {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

button {
  padding: 4px 6px;
  background: $pink;
  border: 1px solid $pink;
  color: white;
  font-weight: bold;
  font-size: 4rem;

  &[data-plain] {
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: inherit;
  }

  &[disabled] {
    background: gray;
    border: 1px solid gray;
    cursor: not-allowed;
  }
}

input {
  font-size: 4rem;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border: 1px solid $pink;
}

.track-picker {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;

  input {
    flex: 1;
  }
}

@import './layout.scss';
@import './my-profile.scss';
@import './entry-form.scss';
@import './room.scss';
@import './round.scss';
@import './ballot.scss';
@import './users.scss';