@import './variables.scss';

html {
  font-size: 4px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4.2rem;
  margin: 0;
}

h4 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

label {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

button {
  padding: 6px 10px;
  background: blue;
  color: white;
  font-weight: bold;
  border: none;

  &[data-plain] {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid currentColor;
    color: inherit;
  }

  &[disabled] {
    background: gray;
    cursor: not-allowed;
  }
}

input {
  font-size: 4rem;
  padding: 4px 6px;
  border: 1px solid gray;
}

.track-picker {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;

  input {
    flex: 1;
    border: 1px solid black;
  }
}

@import './layout.scss';
@import './my-profile.scss';
@import './entry-form.scss';
@import './room.scss';
@import './round.scss';
@import './ballot.scss';