.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

header {
  background: #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .user-info {
    display: flex;

    button {
      margin-left: 10px;
    }
  }
}

main {
  flex: 1;
  padding: 10px;
  padding-bottom: 50px;
  overflow: scroll;
}