#app {
  max-width: 800px;
  margin: auto;
}

.layout {
  background: $blue-dark;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

header {
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $blue-dark;

  .user-info {
    display: flex;

    button {
      margin-left: 10px;
    }
  }
}

main {
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: 1;
  padding: 10px;
  padding-bottom: 20px;
  overflow: scroll;
}
