@import './variables.scss';

.round {
  .header {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .title {
    background: $blue-dark;
    color: white;
    padding: 3px 5px;
    border: 1px solid $blue-dark;
  }

  .status {
    flex: 1;
    font-size: 3.5rem;
    font-style: italic;
    padding: 3px 8px;
    border: 1px solid $blue-dark;
    box-sizing: border-box;
  }
}


.track-preview {
  background: $blue-xdark;
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;

  .track-name {
    margin: 2px 0;
  }

  .track-album {
    display: block;
    margin: 2px 0;
    opacity: 0.6;
  }

  .track-artist {
    display: block;
    margin: 2px 0;
    margin-bottom: 10px;
  }

  .track-genres label {
    display: inline-block;
    font-size: 60%;
    margin-right: 5px;
  }
}

.lyrics {
  line-height: 1.6em;
  font-style: italic; 

  .line {
    min-height: 1.6em;

    &[data-revealed="true"] {
      color: $yellow;
      font-weight: bold;
    }

    &[data-hidden="true"] {
      text-align: center;
    }
  }
}